p {
    color: #092196;
}

.web {
    padding-left: 200px;
    padding
}

.website {
    background-color: #8ce6ff;
    border: 1px solid #000000;
    padding: 60px;
    margin-bottom: 20px;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid #3c3c3c;
    margin-bottom: 20px;

}

.nav {

    background-color: #09586d;
    margin-bottom: 1x;
    font-size: 30px;
}